In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from os import listdir
from os.path import isfile, join
from scipy import interpolate

In [2]:
mypath = 'Data'
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [3]:
onlyfiles

['smoking-deaths-by-age.csv',
 'share-of-men-who-are-smoking.csv',
 'number-of-deaths-from-tobacco-smoking.csv',
 'number-of-total-daily-smokers.csv',
 'consumption-per-smoker-per-day.csv',
 'share-of-women-who-are-smoking.csv',
 'average-price-of-a-pack-of-cigarettes.csv']

In [4]:
dfs = [pd.read_csv("Data/" + x) for x in onlyfiles]

In [5]:
for df in dfs:
    print(df.columns.values)

['Entity' 'Code' 'Year' '70+ years old (deaths)'
 '15-49 years old (deaths)' '50-69 years old (deaths)']
['Entity' 'Code' 'Year' ' (% of adults)']
['Entity' 'Code' 'Year' 'Tobacco smoking']
['Entity' 'Code' 'Year'
 'Number of daily smokers - both (IHME, GHDx (2012))']
['Entity' 'Code' 'Year'
 'Cigarette consumption per smoker per day (cigarettes)']
['Entity' 'Code' 'Year' ' (% of adults)']
['Entity' 'Code' 'Year'
 'Indicator:Average -  cigarette price in international dollars (international-$)']

In [6]:
df_new = pd.DataFrame(columns= ['Entity','Code',"Year"])
for df in dfs:
    df_new = pd.merge(df_new,df,how = 'outer', on =['Entity','Code','Year'])

In [7]:
df_new

,Entity,Code,Year,70+ years old (deaths),15-49 years old (deaths),50-69 years old (deaths),(% of adults)_x,Tobacco smoking,"Number of daily smokers - both (IHME, GHDx (2012))",Cigarette consumption per smoker per day (cigarettes),(% of adults)_y,Indicator:Average - cigarette price in international dollars (international-$)
0,Afghanistan,AFG,1990,1246.238030,2053.685070,3497.160641,NaN,6797.0,652030.0,5.800000,NaN,NaN
1,Afghanistan,AFG,1995,1974.935625,3094.630541,5519.810761,NaN,10589.0,1028533.0,4.500000,NaN,NaN
2,Afghanistan,AFG,2000,2429.371353,3757.903014,6799.480998,NaN,12987.0,1228925.0,3.700000,NaN,NaN
3,Afghanistan,AFG,2005,2848.213811,4537.789004,8483.815984,NaN,15870.0,1504433.0,4.000000,NaN,NaN
4,Afghanistan,AFG,2006,2951.940806,4653.880863,8730.749271,NaN,16337.0,1553745.0,4.100000,NaN,NaN
5,Afghanistan,AFG,2010,3306.430594,4953.975423,9416.096613,NaN,17677.0,1743624.0,4.900000,NaN,NaN
6,Afghanistan,AFG,2016,4057.745075,5888.611941,11005.558639,NaN,20952.0,NaN,NaN,NaN,NaN
7,Albania,ALB,1990,1118.952520,195.664903,976.852299,NaN,2291.0,482850.0,16.400000,NaN,NaN
8,Albania,ALB,1995,1210.307920,207.313356,1059.088298,NaN,2477.0,483593.0,16.100000,NaN,NaN
9,Albania,ALB,2000,1471.491695,288.469209,1164.872762,56.9,2925.0,461078.0,16.799999,11.6,NaN
10,Albania,ALB,2005,1741.660183,322.954362,1245.853328,54.7,3310.0,426583.0,19.000000,10.1,NaN
11,Albania,ALB,2006,1766.572255,316.244854,1234.562722,NaN,3317.0,433852.0,19.100000,NaN,NaN
12,Albania,ALB,2010,1899.232345,269.062937,1216.738610,53.1,3385.0,481678.0,19.500000,8.7,NaN
13,Albania,ALB,2016,2063.992007,215.044222,1358.926144,NaN,3638.0,NaN,NaN,NaN,NaN
14,Algeria,DZA,1990,3007.505428,1406.608754,4198.149285,NaN,8612.0,2396876.0,17.700001,NaN,NaN
15,Algeria,DZA,1995,3266.619197,1525.466248,4310.909236,NaN,9103.0,2954172.0,17.000000,NaN,NaN
16,Algeria,DZA,2000,3429.766059,1557.674195,4250.899847,NaN,9238.0,3296121.0,17.500000,NaN,NaN
17,Algeria,DZA,2005,3707.663442,1460.479180,4263.113747,NaN,9431.0,3115071.0,20.700001,NaN,NaN
18,Algeria,DZA,2006,3707.057151,1423.901170,4223.525594,NaN,9354.0,3051530.0,21.600000,NaN,NaN
19,Algeria,DZA,2010,3836.881562,1362.390684,4281.341597,NaN,9481.0,2948128.0,24.600000,NaN,NaN
20,Algeria,DZA,2016,3618.425642,1502.683446,4954.452353,NaN,10076.0,NaN,NaN,NaN,NaN
21,American Samoa,ASM,1990,10.517382,7.593242,16.422402,NaN,35.0,NaN,NaN,NaN,NaN
22,American Samoa,ASM,1995,10.468935,8.511300,17.708069,NaN,37.0,NaN,NaN,NaN,NaN
23,American Samoa,ASM,2000,10.004799,8.868387,18.003721,NaN,37.0,NaN,NaN,NaN,NaN
24,American Samoa,ASM,2005,9.918646,10.171433,19.889632,NaN,40.0,NaN,NaN,NaN,NaN
25,American Samoa,ASM,2006,9.797661,10.258452,19.925898,NaN,40.0,NaN,NaN,NaN,NaN
26,American Samoa,ASM,2010,9.587407,11.092606,20.676917,NaN,41.0,NaN,NaN,NaN,NaN
27,American Samoa,ASM,2016,10.422242,13.756077,24.068293,NaN,48.0,NaN,NaN,NaN,NaN
28,Andean Latin America,NaN,1990,4173.622911,1860.230609,4058.065757,NaN,NaN,NaN,NaN,NaN,NaN
29,Andean Latin America,NaN,1995,5260.814546,2014.128386,4477.799287,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7050,Romania,ROU,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.16
7051,Russia,RUS,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.18
7052,Rwanda,RWA,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.01
7053,Saint Kitts and Nevis,KNA,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.52
7054,Senegal,SEN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.91
7055,Serbia,SRB,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.48
7056,Sierra Leone,SLE,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.58
7057,Singapore,SGP,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.04
7058,Slovakia,SVK,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.95
7059,Slovenia,SVN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.84
7060,South Africa,ZAF,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.48
7061,South Korea,KOR,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.24
7062,Spain,ESP,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.39
7063,Sri Lanka,LKA,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.42
7064,Sweden,SWE,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.50
7065,Switzerland,CHE,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.08
7066,Thailand,THA,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.41
7067,Tunisia,TUN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.26
7068,Turkey,TUR,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.63
7069,Uganda,UGA,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.03
7070,Ukraine,UKR,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.22
7071,United Arab Emirates,ARE,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.82
7072,United Kingdom,GBR,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.20
7073,United States,USA,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.07
7074,Uruguay,URY,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.71
7075,Uzbekistan,UZB,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.31
7076,Vietnam,VNM,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.07
7077,Yemen,YEM,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.94
7078,Zambia,ZMB,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.81
7079,Zimbabwe,ZWE,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.07

In [36]:
#trying to rename some of the columns
rename_df = df_new.rename(index= str, columns= {"Tobacco smoking":"Tobacco Smoking Deaths", 
                                                'Number of daily smokers - both (IHME, GHDx (2012))':'Number of Daily Smokers',
                                                'Cigarette consumption per smoker per day (cigarettes)': 'Cigarette Consumption per smoker per day'} )
rename_df

,Entity,Code,Year,70+ years old (deaths),15-49 years old (deaths),50-69 years old (deaths),(% of adults)_x,Tobacco Smoking Deaths,Number of Daily Smokers,Cigarette Consumption per smoker per day,(% of adults)_y,Indicator:Average - cigarette price in international dollars (international-$)
0,Afghanistan,AFG,1990,1246.238030,2053.685070,3497.160641,NaN,6797.0,652030.0,5.800000,NaN,NaN
1,Afghanistan,AFG,1995,1974.935625,3094.630541,5519.810761,NaN,10589.0,1028533.0,4.500000,NaN,NaN
2,Afghanistan,AFG,2000,2429.371353,3757.903014,6799.480998,NaN,12987.0,1228925.0,3.700000,NaN,NaN
3,Afghanistan,AFG,2005,2848.213811,4537.789004,8483.815984,NaN,15870.0,1504433.0,4.000000,NaN,NaN
4,Afghanistan,AFG,2006,2951.940806,4653.880863,8730.749271,NaN,16337.0,1553745.0,4.100000,NaN,NaN
5,Afghanistan,AFG,2010,3306.430594,4953.975423,9416.096613,NaN,17677.0,1743624.0,4.900000,NaN,NaN
6,Afghanistan,AFG,2016,4057.745075,5888.611941,11005.558639,NaN,20952.0,NaN,NaN,NaN,NaN
7,Albania,ALB,1990,1118.952520,195.664903,976.852299,NaN,2291.0,482850.0,16.400000,NaN,NaN
8,Albania,ALB,1995,1210.307920,207.313356,1059.088298,NaN,2477.0,483593.0,16.100000,NaN,NaN
9,Albania,ALB,2000,1471.491695,288.469209,1164.872762,56.9,2925.0,461078.0,16.799999,11.6,NaN
10,Albania,ALB,2005,1741.660183,322.954362,1245.853328,54.7,3310.0,426583.0,19.000000,10.1,NaN
11,Albania,ALB,2006,1766.572255,316.244854,1234.562722,NaN,3317.0,433852.0,19.100000,NaN,NaN
12,Albania,ALB,2010,1899.232345,269.062937,1216.738610,53.1,3385.0,481678.0,19.500000,8.7,NaN
13,Albania,ALB,2016,2063.992007,215.044222,1358.926144,NaN,3638.0,NaN,NaN,NaN,NaN
14,Algeria,DZA,1990,3007.505428,1406.608754,4198.149285,NaN,8612.0,2396876.0,17.700001,NaN,NaN
15,Algeria,DZA,1995,3266.619197,1525.466248,4310.909236,NaN,9103.0,2954172.0,17.000000,NaN,NaN
16,Algeria,DZA,2000,3429.766059,1557.674195,4250.899847,NaN,9238.0,3296121.0,17.500000,NaN,NaN
17,Algeria,DZA,2005,3707.663442,1460.479180,4263.113747,NaN,9431.0,3115071.0,20.700001,NaN,NaN
18,Algeria,DZA,2006,3707.057151,1423.901170,4223.525594,NaN,9354.0,3051530.0,21.600000,NaN,NaN
19,Algeria,DZA,2010,3836.881562,1362.390684,4281.341597,NaN,9481.0,2948128.0,24.600000,NaN,NaN
20,Algeria,DZA,2016,3618.425642,1502.683446,4954.452353,NaN,10076.0,NaN,NaN,NaN,NaN
21,American Samoa,ASM,1990,10.517382,7.593242,16.422402,NaN,35.0,NaN,NaN,NaN,NaN
22,American Samoa,ASM,1995,10.468935,8.511300,17.708069,NaN,37.0,NaN,NaN,NaN,NaN
23,American Samoa,ASM,2000,10.004799,8.868387,18.003721,NaN,37.0,NaN,NaN,NaN,NaN
24,American Samoa,ASM,2005,9.918646,10.171433,19.889632,NaN,40.0,NaN,NaN,NaN,NaN
25,American Samoa,ASM,2006,9.797661,10.258452,19.925898,NaN,40.0,NaN,NaN,NaN,NaN
26,American Samoa,ASM,2010,9.587407,11.092606,20.676917,NaN,41.0,NaN,NaN,NaN,NaN
27,American Samoa,ASM,2016,10.422242,13.756077,24.068293,NaN,48.0,NaN,NaN,NaN,NaN
28,Andean Latin America,NaN,1990,4173.622911,1860.230609,4058.065757,NaN,NaN,NaN,NaN,NaN,NaN
29,Andean Latin America,NaN,1995,5260.814546,2014.128386,4477.799287,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7050,Romania,ROU,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.16
7051,Russia,RUS,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.18
7052,Rwanda,RWA,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.01
7053,Saint Kitts and Nevis,KNA,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.52
7054,Senegal,SEN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.91
7055,Serbia,SRB,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.48
7056,Sierra Leone,SLE,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.58
7057,Singapore,SGP,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.04
7058,Slovakia,SVK,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.95
7059,Slovenia,SVN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.84
7060,South Africa,ZAF,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.48
7061,South Korea,KOR,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.24
7062,Spain,ESP,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.39
7063,Sri Lanka,LKA,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.42
7064,Sweden,SWE,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.50
7065,Switzerland,CHE,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.08
7066,Thailand,THA,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.41
7067,Tunisia,TUN,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.26
7068,Turkey,TUR,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.63
7069,Uganda,UGA,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.03
7070,Ukraine,UKR,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.22
7071,United Arab Emirates,ARE,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.82
7072,United Kingdom,GBR,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.20
7073,United States,USA,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.07
7074,Uruguay,URY,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.71
7075,Uzbekistan,UZB,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.31
7076,Vietnam,VNM,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.07
7077,Yemen,YEM,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.94
7078,Zambia,ZMB,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.81
7079,Zimbabwe,ZWE,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.07

In [37]:
#tells us how many missing values there are per columnr
rename_df.isnull().sum()

Entity                                                                                0
Code                                                                                419
Year                                                                                  0
70+ years old (deaths)                                                             5519
15-49 years old (deaths)                                                           5519
50-69 years old (deaths)                                                           5519
 (% of adults)_x                                                                   6286
Tobacco Smoking Deaths                                                             5519
Number of Daily Smokers                                                             876
Cigarette Consumption per smoker per day                                            876
 (% of adults)_y                                                                   6271
Indicator:Average -  cigarette price in international dollars (international-$)    6872
dtype: int64

In [38]:
#gives the breakdown of the countries
rename_df['Entity'].value_counts()

China                                            36
Ethiopia                                         36
Chile                                            36
Serbia                                           36
Hungary                                          36
Turkey                                           36
Uganda                                           36
Ghana                                            36
Cambodia                                         36
Romania                                          36
Egypt                                            36
Honduras                                         36
Senegal                                          36
Singapore                                        36
Costa Rica                                       36
Pakistan                                         36
Dominican Republic                               36
Bosnia and Herzegovina                           36
France                                           36
Comoros                                          36
Indonesia                                        36
Greece                                           36
Morocco                                          36
Nepal                                            36
Denmark                                          36
Poland                                           36
Uruguay                                          36
Iceland                                          36
Austria                                          36
Japan                                            36
                                                 ..
Lower middle income                               5
Low & middle income                               5
Central Europe and the Baltics                    5
Upper middle income                               5
High income                                       5
Middle income                                     5
IDA blend                                         5
Sub-Saharan Africa (IDA & IBRD)                   5
IBRD only                                         5
East Asia & Pacific                               5
Least developed countries: UN classification      5
Euro area                                         5
Post-demographic dividend                         5
Sub-Saharan Africa (excluding high income)        5
European Union                                    5
Nauru                                             5
Early-demographic dividend                        5
Europe & Central Asia                             5
Latin America & Caribbean (IDA & IBRD)            5
OECD members                                      5
East Asia & Pacific (IDA & IBRD)                  5
Latin America & Caribbean                         5
South Asia (IDA & IBRD)                           5
IDA & IBRD total                                  5
IDA total                                         5
Late-demographic dividend                         5
Europe & Central Asia (IDA & IBRD)                5
Europe & Central Asia (excluding high income)     5
IDA only                                          4
Saint Kitts and Nevis                             1
Name: Entity, Length: 262, dtype: int64

In [11]:
##I think our best bet is to try and manually filter the dataset to select the values we want, by combing we skew our data
#and make it hard to decifer

In [39]:
#shows us the rows where we are missing values
rename_df[rename_df['Tobacco Smoking Deaths'].notnull()]

,Entity,Code,Year,70+ years old (deaths),15-49 years old (deaths),50-69 years old (deaths),(% of adults)_x,Tobacco Smoking Deaths,Number of Daily Smokers,Cigarette Consumption per smoker per day,(% of adults)_y,Indicator:Average - cigarette price in international dollars (international-$)
0,Afghanistan,AFG,1990,1246.238030,2053.685070,3497.160641,NaN,6797.0,652030.0,5.800000,NaN,NaN
1,Afghanistan,AFG,1995,1974.935625,3094.630541,5519.810761,NaN,10589.0,1028533.0,4.500000,NaN,NaN
2,Afghanistan,AFG,2000,2429.371353,3757.903014,6799.480998,NaN,12987.0,1228925.0,3.700000,NaN,NaN
3,Afghanistan,AFG,2005,2848.213811,4537.789004,8483.815984,NaN,15870.0,1504433.0,4.000000,NaN,NaN
4,Afghanistan,AFG,2006,2951.940806,4653.880863,8730.749271,NaN,16337.0,1553745.0,4.100000,NaN,NaN
5,Afghanistan,AFG,2010,3306.430594,4953.975423,9416.096613,NaN,17677.0,1743624.0,4.900000,NaN,NaN
6,Afghanistan,AFG,2016,4057.745075,5888.611941,11005.558639,NaN,20952.0,NaN,NaN,NaN,NaN
7,Albania,ALB,1990,1118.952520,195.664903,976.852299,NaN,2291.0,482850.0,16.400000,NaN,NaN
8,Albania,ALB,1995,1210.307920,207.313356,1059.088298,NaN,2477.0,483593.0,16.100000,NaN,NaN
9,Albania,ALB,2000,1471.491695,288.469209,1164.872762,56.9,2925.0,461078.0,16.799999,11.6,NaN
10,Albania,ALB,2005,1741.660183,322.954362,1245.853328,54.7,3310.0,426583.0,19.000000,10.1,NaN
11,Albania,ALB,2006,1766.572255,316.244854,1234.562722,NaN,3317.0,433852.0,19.100000,NaN,NaN
12,Albania,ALB,2010,1899.232345,269.062937,1216.738610,53.1,3385.0,481678.0,19.500000,8.7,NaN
13,Albania,ALB,2016,2063.992007,215.044222,1358.926144,NaN,3638.0,NaN,NaN,NaN,NaN
14,Algeria,DZA,1990,3007.505428,1406.608754,4198.149285,NaN,8612.0,2396876.0,17.700001,NaN,NaN
15,Algeria,DZA,1995,3266.619197,1525.466248,4310.909236,NaN,9103.0,2954172.0,17.000000,NaN,NaN
16,Algeria,DZA,2000,3429.766059,1557.674195,4250.899847,NaN,9238.0,3296121.0,17.500000,NaN,NaN
17,Algeria,DZA,2005,3707.663442,1460.479180,4263.113747,NaN,9431.0,3115071.0,20.700001,NaN,NaN
18,Algeria,DZA,2006,3707.057151,1423.901170,4223.525594,NaN,9354.0,3051530.0,21.600000,NaN,NaN
19,Algeria,DZA,2010,3836.881562,1362.390684,4281.341597,NaN,9481.0,2948128.0,24.600000,NaN,NaN
20,Algeria,DZA,2016,3618.425642,1502.683446,4954.452353,NaN,10076.0,NaN,NaN,NaN,NaN
21,American Samoa,ASM,1990,10.517382,7.593242,16.422402,NaN,35.0,NaN,NaN,NaN,NaN
22,American Samoa,ASM,1995,10.468935,8.511300,17.708069,NaN,37.0,NaN,NaN,NaN,NaN
23,American Samoa,ASM,2000,10.004799,8.868387,18.003721,NaN,37.0,NaN,NaN,NaN,NaN
24,American Samoa,ASM,2005,9.918646,10.171433,19.889632,NaN,40.0,NaN,NaN,NaN,NaN
25,American Samoa,ASM,2006,9.797661,10.258452,19.925898,NaN,40.0,NaN,NaN,NaN,NaN
26,American Samoa,ASM,2010,9.587407,11.092606,20.676917,NaN,41.0,NaN,NaN,NaN,NaN
27,American Samoa,ASM,2016,10.422242,13.756077,24.068293,NaN,48.0,NaN,NaN,NaN,NaN
35,Andorra,AND,1990,31.692740,3.039992,21.447186,NaN,56.0,12649.0,19.500000,NaN,NaN
36,Andorra,AND,1995,37.846008,3.367742,23.034050,NaN,64.0,15201.0,20.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1980,High-income,NaN,2010,NaN,NaN,NaN,NaN,1336309.0,NaN,NaN,NaN,NaN
1981,High-income,NaN,2016,NaN,NaN,NaN,NaN,1393492.0,NaN,NaN,NaN,NaN
1982,High-middle SDI,NaN,1990,NaN,NaN,NaN,NaN,1138146.0,NaN,NaN,NaN,NaN
1983,High-middle SDI,NaN,1995,NaN,NaN,NaN,NaN,1370281.0,NaN,NaN,NaN,NaN
1984,High-middle SDI,NaN,2000,NaN,NaN,NaN,NaN,1373490.0,NaN,NaN,NaN,NaN
1985,High-middle SDI,NaN,2005,NaN,NaN,NaN,NaN,1392540.0,NaN,NaN,NaN,NaN
1986,High-middle SDI,NaN,2006,NaN,NaN,NaN,NaN,1337164.0,NaN,NaN,NaN,NaN
1987,High-middle SDI,NaN,2010,NaN,NaN,NaN,NaN,1271783.0,NaN,NaN,NaN,NaN
1988,High-middle SDI,NaN,2016,NaN,NaN,NaN,NaN,1229953.0,NaN,NaN,NaN,NaN
1989,Low SDI,NaN,1990,NaN,NaN,NaN,NaN,122592.0,NaN,NaN,NaN,NaN
1990,Low SDI,NaN,1995,NaN,NaN,NaN,NaN,140297.0,NaN,NaN,NaN,NaN
1991,Low SDI,NaN,2000,NaN,NaN,NaN,NaN,157349.0,NaN,NaN,NaN,NaN
1992,Low SDI,NaN,2005,NaN,NaN,NaN,NaN,174808.0,NaN,NaN,NaN,NaN
1993,Low SDI,NaN,2006,NaN,NaN,NaN,NaN,178830.0,NaN,NaN,NaN,NaN
1994,Low SDI,NaN,2010,NaN,NaN,NaN,NaN,197173.0,NaN,NaN,NaN,NaN
1995,Low SDI,NaN,2016,NaN,NaN,NaN,NaN,217817.0,NaN,NaN,NaN,NaN
1996,Low-middle SDI,NaN,1990,NaN,NaN,NaN,NaN,846725.0,NaN,NaN,NaN,NaN
1997,Low-middle SDI,NaN,1995,NaN,NaN,NaN,NaN,963642.0,NaN,NaN,NaN,NaN
1998,Low-middle SDI,NaN,2000,NaN,NaN,NaN,NaN,1076410.0,NaN,NaN,NaN,NaN
1999,Low-middle SDI,NaN,2005,NaN,NaN,NaN,NaN,1161117.0,NaN,NaN,NaN,NaN
2000,Low-middle SDI,NaN,2006,NaN,NaN,NaN,NaN,1175021.0,NaN,NaN,NaN,NaN
2001,Low-middle SDI,NaN,2010,NaN,NaN,NaN,NaN,1253934.0,NaN,NaN,NaN,NaN
2002,Low-middle SDI,NaN,2016,NaN,NaN,NaN,NaN,1354726.0,NaN,NaN,NaN,NaN
2003,Middle SDI,NaN,1990,NaN,NaN,NaN,NaN,1555201.0,NaN,NaN,NaN,NaN
2004,Middle SDI,NaN,1995,NaN,NaN,NaN,NaN,1754142.0,NaN,NaN,NaN,NaN
2005,Middle SDI,NaN,2000,NaN,NaN,NaN,NaN,1944299.0,NaN,NaN,NaN,NaN
2006,Middle SDI,NaN,2005,NaN,NaN,NaN,NaN,2057761.0,NaN,NaN,NaN,NaN
2007,Middle SDI,NaN,2006,NaN,NaN,NaN,NaN,2022338.0,NaN,NaN,NaN,NaN
2008,Middle SDI,NaN,2010,NaN,NaN,NaN,NaN,2091383.0,NaN,NaN,NaN,NaN
2009,Middle SDI,NaN,2016,NaN,NaN,NaN,NaN,2110931.0,NaN,NaN,NaN,NaN

In [40]:
tobaccosmoke  = rename_df[['Tobacco Smoking Deaths','Entity','Year']].dropna()

In [ ]:
#could pass dropna a subset of columns to drop based on if they are null
#by changing how = all or how = any can dicatate if we want to drop rows based on if all of the columns are null or just 1
df_new.dropna(subset= ['70+ years old (deaths)','15-49 years old (deaths)','50-69 years old (deaths)','Cigarette consumption per smoker per day (cigarettes)'],how = 'all')